<h1>Editing <%= @student.first_name %> <%= @student.last_name %></h1>

<form action='/dojos/<%=@dojo.id%>/students/<%=@student.id%>' method='post'>
  <input name="_method" value="patch" type="hidden">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <fieldset class= 'fieldset'>
    First Name: <input type="text" name="first_name" value="<%= @student.first_name %>"><br>
    Last Name: <input type="text" name="last_name" value="<%= @student.last_name %>"><br>
    Email: <input type="text" name="email" value="<%= @student.email %>"><br>
    <input type="submit" name="" value="Update">
</fieldset>
</form>
<br>
<a href="/dojos/<%=@dojo.id%>">Cohort Page</a>
